*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Hind', sans-serif;
}
header{
    width: auto;
    height: 80px;
    border-bottom: solid 4px rgb(112, 112, 112);
    background-color: #536271;  
    text-align: center;

}
header h1{
    padding-top: 15px;
}
body{
    background-color: #C1C1C1;
    color: #FDFFFC;
}
.contenedor{
    width: auto;
    height: auto;
    background-color: #0f4c75;
    outline: 4px solid #0C3E66;
    text-align: center;
    position: absolute;

    left: 450px;
    padding-left: 25px;
    padding-right: 20px;
}
button:hover{
    opacity: .8;
}

